@keyframes walk {
 100%{
    transform: translateX(-100%);
 }
}
.person{
    width: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
    img{
        border-radius: 20px;
        &:hover{
            animation-play-state: running;
        }
        animation: walk 1s infinite steps(6);
        animation-play-state: paused;
    }
    &::before{
        width: 20px;
        height: 100%;
        content: " ";
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &::after{
        width: 60px;
        height: 100%;
        content: " ";
        position: absolute;
        background-color: white;
        top: 0;
        right: 0;
        z-index: 2;
    }
}